h1{
  font-size: 45px;

  ;
}

h2{
  color: maroon;
  font-family: "Frontage Condensed";
}

h3{
color: rgb(219, 59, 101);
font-size: 25px;
}

h4 {
  font-size: 25px;
  color: orange;
}

h5 {
  font-size: 22px;
  color: blue;
}

h6{
  font-size: 22px;
  color:purple;
}

img{
  float:right;

}

img2{
  float:left;

}
 #Title{
   background-color:"#E6E6FA"
 }

#Everything{
  background-color:"#E6E6FA"

  font-size: :30px;
}

h7{
  font-size: 20px;
  background-color:"#E6E6FA"
}

h10{

  color:purple;
  font-size: 22px;
  font-family: "Frontage Condensed"


}

.navbar{
  font-size: 20px;
  color: rgb(120, 59, 219)
  font-family: 'Song Myung', serif;
}



.commentbutton{
  width: 100px;
  height: 100px;
  font-size: 100px;
}

#para{font-size: 20px; font-family: Times}

#words{font-size: 12px; font-family: Times }
